{% for footer-i in (1..2) %}
{% unless page.legacy and footer-i == 1 %}
<div id="footerwrap" class="tuna-foot-{{ footer-i }}"{% if page.legacy %} style="visibility: visible;"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <p class="thuhidden">本站由Test运行维护。</p>
      </div>
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <h4>Contact Us</h4>
        <div class="thuhidden">
          <ul class="social">
            <li>
            <a href=""><i class="fa fa-envelope"></i> Mailing List</a>
            </li>
            <li>
            <a href=""><i class="fa fa-github"></i> GitHub </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4{% if page.legacy %} col-xs-4{% endif %}">
        <img class="img-responsive thuhidden center-block" style="margin-top:5%" src="/static/img/logo-white.png" srcset="/static/img/logo-white.png 1x, /static/img/logo-white@2x.png 2x, /static/img/logo-white@3x.png 3x, /static/img/logo-white@4x.png 4x" />
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->
{% endunless %}
{% endfor %}

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
